:root {
	/* Breakpoints */
	--breakpoint-small: 600px;
	--breakpoint-medium: 768px;
	--breakpoint-large: 992px;
	--breakpoint-xlarge: 1200px;

	/* Colors */
	--hausorange: #db3700;

	--font-stack: "Noto Sans", "Noto Sans CJK KR", sans-serif;

	color-scheme: light;
}

:focus-visible { outline-color: var(--hausorange); }
::selection { background-color: var(--hausorange); }
::marker { color: var(--hausorange); }

:is(
  ::-webkit-calendar-picker-indicator,
  ::-webkit-clear-button,
  ::-webkit-inner-spin-button, 
  ::-webkit-outer-spin-button
) {
  color: var(--hausorange);
}

a {
	color: var(--hausorange);
}

article {
	border-left: 1px solid var(--hausorange);
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 3;
	grid-column-gap: 1rem;
	grid-template-areas: "name description description description" "display code code code"
		"attributes attributes attributes attributes";
	margin: 1rem 1rem 0 0;
	padding: 0 .5rem 0 .5rem;
}

article h2 {
	font-size: 1em;
	font-weight: initial;
	margin: 0;
}

body {
	border-bottom: solid 1rem green;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: auto;
	grid-template-areas: ". header ." ". main ." ". footer .";
	font-family: var(--font-stack);
}

details > * {
	margin-top: 1rem;
}

header {
	grid-area: header;
	margin-top: 1rem;
}

hr {
	color: var(--hausorange);
}

html {
	scroll-behavior: smooth;
	scrollbar-color: var(--hausorange) Canvas;
}

footer {
	align-items: flex-end;
	display: flex;
	grid-area: footer;
	justify-content: space-between;
	margin-bottom: 0;
	margin-top: 2rem;
	padding-bottom: 1rem;
	text-align: center;
	vertical-align: baseline;
}

footer a {
	text-decoration: none;
}

footer img {
	bottom: -25px;
	display: block;
	box-sizing: border-box;
	position: relative;
}

main {
	grid-area: main;
}

main > * {
	margin-top: 1rem;
}

mark {
	background-color: lightsalmon;
}

nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding-left: 1rem;
	position: relative;
	text-align: left;
}

nav ul li a:hover {
	color: green;
	text-decoration: none;
}

nav ul li a {
	text-decoration: none;
}

textarea {
	border: 1px solid var(--hausorange);
	width: 95%;
}

u {
	text-decoration: var(--hausorange) wavy underline;
}

/* CLASSES */

.attributes {
	grid-area: attributes;
}

.attributes a {
	color: black;
}

.code {
	grid-area: code;
}

.description {
	grid-area: description;
}

.diagram {
	width: 100%;
}

.display {
	grid-area: display;
}

.emoji {
	display: inline;
	max-width: 1rem;
}

.logo {
	width: 32px;
}

.name {
	font-size: 1.2em;
	grid-area: name;
}

.orange {
	color: var(--hausorange);
}

.reference {
	grid-area: reference;
}

.table-lang {
	background-color: lightpink;
	border: 2px solid black;
}

.table-of-contents {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1;
}

/* ELEMENTS */

#brand {
	color: var(--hausorange);
	font-style: italic;
}

#ex-layout {
	border: 1px solid lightgray;
	padding: 1rem;
	margin: 1rem auto;
	width: 95%;
}

#ex-header {
	background-color: lightblue;
	height: 5rem;
	padding-top: 0.25rem;
	width: 100%;
}

#ex-wrapper {
	overflow: hidden;
	width: 100%;
}

#ex-main {
	background-color: lightgoldenrodyellow;
	float: left;
	height: 22rem;
	padding-top: 0.25rem;
	width: 70%;
}

#ex-aside {
	background-color: lightsalmon;
	float: left;
	height: 22rem;
	padding-top: 0.25rem;
	width: 30%;
}

#ex-footer {
	background-color: lightgreen;
	height: 5rem;
	padding-top: 0.25rem;
	width: 100%;
}

#menu-title {
	text-decoration: underline;
	text-decoration-color: green;
}

#menu-title img {
	display: inline;
	padding-right: 0.25rem;
	vertical-align: -18%;
}

/* MEDIA QUERIES */
/* Extra, extra small devices (compact phones, 380px and smaller) */
@media only screen and (max-width: 380px) {
	body {
		grid-template-columns: 3% 94% 3%;
	}

	nav {
		flex-direction: column;
	}

	.logo {
		width: 20px;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	body {
		grid-template-columns: 3% 94% 3%;
		/* width: 95vw; */
		/* 570 px */
	}

	.logo {
		width: 20px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body {
		grid-template-columns: 5% 90% 5%;
		/* width: 90vw; */
		/* 540 px */
	}

	.logo {
		width: 24px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body {
		grid-template-columns: 12.5% 75% 12.5%;
		/* width: 75vw; */
		/* 576px */
	}

	html {
		font-size: 105%;
	}

	.logo {
		width: 28px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {
		grid-template-columns: 20% 60% 20%;
		/* width: 60vw; */
		/* 595.2 px */
	}

	html {
		font-size: 110%;
	}

	.logo {
		width: 28px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body {
		grid-template-columns: 25% 50% 25%;
		/* width: 50vw; */
		/* 600 px */
	}

	html {
		font-size: 120%;
	}
}
