body {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin: 0 auto;
  width: 60%;
}

a {
  color: orangered;
}

nav {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

nav .title {
  float: left;
}

nav ul li {
  float: right;
  list-style-type: none;
  list-style-position: inside;
  margin-right: 1rem;
}

img {
  padding: 1rem;
}

textarea {
  width: 100%;
}

footer {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#layout {
  border: 1px solid lightgray;
  padding: 1rem;
  margin: 0 auto;
  width: 95%;
}

#header {
  background-color: lightblue;
  height: 5rem;
  padding-top: .25rem;
  width: 100%;
}

#wrapper {
  overflow: hidden;
  width: 100%;
}

#main {
  background-color: lightgoldenrodyellow;
  float: left;
  height: 20rem;
  padding-top: .25rem;
  width: 70%;
}

#aside {
  background-color: lightsalmon;
  float: left;
  height: 20rem;
  padding-top: .25rem;
  width: 30%;
}

#footer {
  background-color: lightgreen;
  height: 5rem;
  padding-top: .25rem;
  width: 100%;
}