:root {
  /* Breakpoints */
  --breakpoint-small: 600px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 992px;
  --breakpoint-xlarge: 1200px;

  /* Colors */
  --hausorange: #db3700;
}

body {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
  font-family: "Noto Sans", "Noto Sans CJK KR", sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    grid-template-columns: 3% 94% 3%;
    /* width: 95vw; */
    /* 570 px */
  }

  nav {
    font-size: 0.9rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    grid-template-columns: 5% 90% 5%;
    /* width: 90vw; */
    /* 540 px */
  }

  nav {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    grid-template-columns: 12.5% 75% 12.5%;
    /* width: 75vw; */
    /* 576px */
  }

  nav {
    font-size: 1.1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    grid-template-columns: 20% 60% 20%;
    /* width: 60vw; */
    /* 595.2 px */
  }

  nav {
    font-size: 1.2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    grid-template-columns: 25% 50% 25%;
    /* width: 50vw; */
    /* 600 px */
  }

  nav {
    font-size: 1.3rem;
  }
}

header {
  grid-area: header;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  place-items: center;
}

nav #title {
  justify-self: start;
  grid-column: 1;
}

nav #learn {
  grid-column: 2;
}

nav #reference {
  grid-column: 3;
}

nav #templates {
  grid-column: 4;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  margin-top: 1rem;
  text-align: center;
}

article {
  border-left: 1px solid red;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 3;
  grid-column-gap: 1rem;
  grid-template-areas:
    "name description description description"
    "display code code code"
    "attributes attributes attributes attributes";
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.name {
  font-size: 1.2em;
  grid-area: name;
}

/* .name:nth-child(2) {
  background-color: red;
  font-size: 1.2em;
} */

.description {
  grid-area: description;
}

.reference {
  grid-area: reference;
}

.display {
  grid-area: display;
}

.code {
  grid-area: code;
}

.attributes {
  grid-area: attributes;
}

.attributes a {
  color: black;
}

a {
  color: var(--hausorange);
}

hr {
  color: var(--hausorange);
}

img {
  max-width: 100%;
}

mark {
  background-color: lightsalmon;
}

textarea {
  border: 1px solid var(--hausorange);
  width: 100%;
}

#layout {
  border: 1px solid lightgray;
  padding: 1rem;
  margin: 0 auto;
  width: 95%;
}

#header {
  background-color: lightblue;
  height: 5rem;
  padding-top: 0.25rem;
  width: 100%;
}

#wrapper {
  overflow: hidden;
  width: 100%;
}

#main {
  background-color: lightgoldenrodyellow;
  float: left;
  height: 22rem;
  padding-top: 0.25rem;
  width: 70%;
}

#aside {
  background-color: lightsalmon;
  float: left;
  height: 22rem;
  padding-top: 0.25rem;
  width: 30%;
}

#footer {
  background-color: lightgreen;
  height: 5rem;
  padding-top: 0.25rem;
  width: 100%;
}

#brand {
  color: var(--hausorange);
  font-style: italic;
}

.table-lang {
  background-color: lightpink;
  border: 2px solid black;
}

u {
  text-decoration: var(--hausorange) wavy underline;
}
